@using Assignment.Models;
@model List<Employee>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2  >
                Employee List
            </h2>

        </div>

        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
                 Add New Employee
            </a>
        </div>
    </div>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>
                    Emp Id
                </th>
                <th>
                   First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Date Of Birth
                </th>
                <th>
                    Email
                </th>
                <th>
                    Department
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var category in Model.OrderBy(u => u.EmployeeId))
            {
                <tr>
                    <td>
                        @category.EmployeeId
                    </td>
                    <td>
                        @category.FirstName
                    </td>   
                    <td>
                        @category.LastName
                    </td>
                    <td>
                        @category.DateOfBirth.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @category.Email
                    </td>
                    <td>
                        @category.DeptName
                    </td>
                    <td>
                        @category.Phone
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Employee" asp-action="Edit" asp-route-id="@category.EmployeeId">  Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-primary " asp-controller="Employee" asp-action="Delete" asp-route-id="@category.EmployeeId">  Delete</a>
                    </td>

                </tr>

            }
        </tbody>

    </table>

</div>